.bass-container{
    background-color: #141414;
    height: 100%;
}
li{
    list-style: none;
}
.guiter-text{
    background-color: rgb(70, 70, 70);
}
.filter-container{
    box-sizing: border-box;
    padding-left: 4%;
}
.filter-title{
    font-size: 22px;
    color: white;
    text-decoration: none;
}
.filter-items-container{
    margin-bottom: 5%;
    
}
.card-container{
    padding: 3%;
    border-radius: 15px;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
    background-image: linear-gradient(to top, #2c2c2c, #2b2b2b, #292929, #282828, #272727);background-color: ;
}
.card-img{
    width: 37%;
    display: block;
    margin: 0 auto;
    height: 40vh;
    transition: all .5s ease-in-out;
}
.card-container:hover .card-img{
    width: 33%;
    height: 36vh;
}
.price-text{
    font-size: 20px;
}
.price-amount{
    font-size: 25px;
    font-weight: bold;
}
.hover-button{
    width: 50%;
    padding: 2.5% 0;
    display: block;
    margin: 0 auto;
    background-color: blue;
    border-radius: 5px;
    border: none;
}