.builder-img{
    width: 100%;
    margin: 0.4% 0;
    height: 70vh;
    
}
.slider-img-containter{
    position: relative;
}
.builder-text{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    display: block;
    text-align: center;
    color: white;
}