.artist-container{
    background-color: #141414;
    color: white;
}
.artists-title-container{
    background-image: url(../../Resorce/Img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 0;
}
.icon-hover{
    position: relative;
}
.icon-container{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all .4s ease-in-out;
}
.icon-items{
    height: 100%;
    width: 100%;
    padding: 0;
}
.icon-item{
    font-size: 30px!important;
    cursor:pointer;
}
.icon-hover:hover .icon-container{
    width: 100%;
    height: 100%;
    opacity: .8;
    visibility: visible;
}
.sinature-container{
    width: 95%;
    margin: 0 auto;
}
.signature-img{
    width: 100%;
}