.merch-container{
    background-color: #141414;
    color: white;
}
.march-title{
    background-image: url(../../Resorce/Img/merchbanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17% 0;
}
.merch-link{
    color: rgb(46, 46, 253);
    cursor: pointer;
}