.gCare-container{
    background-color: black;
    box-sizing: border-box;
}
.padding-two-side{
    padding: 0 8%;
}
/*  */

.schedule-container{
    background-image: url(../../Resorce/web\ cover\ 4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid white;
}
.gcare-schedule{
    background-color: rgba(26, 26, 26, 0.555);
    color: white;
}
.logo-container{
    position: relative;
}
.gcare-logo-container{
    background-color: #1e1919;
    height: 50px;
    width: 100%;
}
.gcare-logo{
    width: 23%;
    height: 200%;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: 37%;
}
.gcare-checkbox{
    margin-top: 4px;
    margin-right: 8px;
}
.gcare-fitst-button-container{
    width: 100%;
    margin: 0 auto;
}
.gcare-fitst-button{
    width: 100%;
    color: white;
    border-radius: 7px;
    background-color: transparent;
    border: none;
}

/*  */
.schedule-text{
    margin-top: 7%;
}
.service-title-bg{
    background-color: #e7c350;
}
.service-title{
    width: 60%;
    margin: 0 auto;
    padding:  1% 0;
    font-weight: bold;
}
.big-star{
    font-size: 40px!important;
}
.service-text{
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
    color: white;
}
.gCare-list{
    list-style: inside;
}
.Gcare-button{
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding: .5% 0;
    border-radius: 7px;
}
.Gcare-button-text{
    background-color: transparent;
    border: none;
    color: white;
}
.service-sector{
    width: 90%;
    margin: 0 auto;
}

.service-sector-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 15rem;
    width: 100%;
    position: relative;
    z-index: 1;
}
.service-sector-bg::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: -1;
}
.service-bg1{
    background-image: url(../../Resorce/male-hands-changing-acoustic-guitar-strings.jpg);
}
.service-bg2{
    background-image: url(../../Resorce/strings-1.jpg);
}
.service-bg3{
    background-image: url(../../Resorce/MRUHPYe2Pf6QBf4P.medium);
}
.service-bg4{
    background-image: url(../../Resorce/acoustic-guitar-parts-2.jpg);
}
.service-bg5{
    background-image: url(../../Resorce/162743.image0.jpg);
}
.service-bg6{
    background-image: url(../../Resorce/Building-Better-Parts-1@1400x1050.jpg);
}
.service-sector-text{
    padding-bottom: 3%;
    color: white;
}
.design-border{
    width: 50%;
    margin: 0 auto;
    height: 7px;
}
.service-youtube{
    width: 90%;
    margin: 0 auto;
}
.youtube-style{
    height: 500px;
    border-bottom: 8px solid #181818;
}