.footer-container{
    background-color: rgb(36, 36, 36);
}
.footer-items-container{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.footer-items{
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}
.li-item{
    color: white;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}
.li-item:hover{
    color: rgb(192, 192, 192);
}
.logo{
    color: white;
}
.copyright{
    color: white;
}
.footer-copyright-container{
    width: 90%;
    margin: 0 auto;
}
.footer-icon{
    color: white;
    font-size: 30px!important;
    transition: all .3s ease-in-out;
}
.footer-icon:hover{
    color: rgb(81, 113, 255);
    font-size: 35px!important;
}