.footer-container{
    background-color: rgb(36, 36, 36);
}
.footer-items-container{
    border-top: 2px solid #86868b;
    border-bottom: 2px solid #86868b;
}
.footer-items{
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;
}
.li-item{
    color: white;
    list-style: none;
    cursor: pointer;
    transition: all .3s ease;
}
.li-item:hover{
    color: #86868b;
}
.logo{
    color: white;
}
.copyright{
    color: white;
}
.footer-copyright-container{
    width: 90%;
    margin: 0 auto;
}
.footer-icon{
    color: #1561f0;
    font-size: 30px!important;
    transition: all .3s ease!important;
    cursor: pointer;
}
.footer-icon:hover{
    color: #e9322e;
    font-size: 35px!important;
}