.contact-container{
    background-color: rgb(36, 36, 36);
}
.contact-item-container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.contact-title{
    display: inline-block;
    padding: 0 2%;
    color: white;
    border-bottom: 2px solid white;
}
.contact-p{
    color: white;
}
.contact-input{
    border: none;
    outline: none;
}
.contact-input:focus{
    box-shadow: none;
}
.sign-button{
    cursor: pointer;
    background-color: rgb(63, 63, 255);
    color: white;
    font-weight: bold;
}