.guitar-details-container{
    background-color: #141414;
    color: white;
}
.guitar-img-container{
    width: 70%;
    height: 8vh;
    margin: 0 auto;
    border: 2px solid rgb(87, 87, 87);
    background-color: rgb(29, 29, 29);
}
.guitar-img{
    width: 10%;
    display: block;
    margin: 0 auto!important;
    height: 100%;
    padding: 2% 0;
}
.guitar-main-img{
    width: 30%;
    height: 70vh;
    display: block;
    margin: 0 auto;
}
.buy-container-details{

}
.buy-h1{
    color: rgb(132, 132, 255);
    font-weight: bold;
    font-size: 45px;
}
.buy-p{
    font-size: 20px;
}
.buy-h2{
    font-size: 40px;
    font-weight: bold;
    color: rgb(155, 155, 255);
}
.buy-amount{
    font-size: 28px;
    color: rgb(155, 155, 255);
}
.buy-link{
    text-decoration: none;
}
.buy-button{
    display: block;
    border: none;
    width: 80%;
    text-align: center;
    padding: 2% 10%;
    margin: 3% 0;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.buy-button:hover{
    background-color: rgb(13, 13, 90);
    color: white;
    outline: 2px solid rgb(87, 87, 255);
}
.video-container{
    width: 75%;
    margin: 0 auto;
    height: 70vh;
}
.video{
    width: 100%;
    height: 100%;
    outline: 20px solid gray;
    border-radius: 5px;
}
.details-text-container{
    width: 60%;
    margin: 0 auto;
}
.details-p{
    font-size: 28px;
}
.details-title{
    font-size: 32px;
    font-weight: bold;
    background-color: rgb(58, 58, 58);
    padding: 1.5% 0 1.5% 3%;
    
}
.gallery-big{
    width: 100%;
    height: 60vh;
}
.details-container{
    width: 85%;
    margin: 0 auto;
}
.imfomation-line{
    border-bottom: 2px solid rgb(48, 48, 48);
    padding-top: 1%;
}