img{
    width: 100%;
    height: auto;
}
.img1-container{
    position: relative;
}
.img1-text{
    position: absolute;
    top: 0;
    left: 3%;
    margin-top: 10%;
    margin-left: 5%;
}
.img-h3{
    font-size: 35px;
}
.img-h1{
   
}
.img-p{
    font-size: 30px;
}
.img-link{
    font-size: 27px;
    color: #1561f0;
    text-decoration: none;
    transition: all .3s ease;
}
.img-link:hover{
    color: #e9322e;
}
.img2-container{
    position: relative;
}
.img2-text{
    position: absolute;
    top: 0;
    left: 15%;
    margin-top: 10%;
    color: white;
    text-align: center;
}
.img3-container{
    position: relative;
}
.img3-text{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10%;
    margin-left: 15%;
    width: 80%;
    color: white;
}
.img4-container{
    position: relative;
}
.img4-text{
    position: absolute;
    top: 0;
    left: 2%;
    width: 60%;
    margin-top: 10%;
    margin-left: 5%;
}
/* Hover effect */
.img1-hover{
    transform: translateY(20px);
    transition: all .4s ease-in-out;
}
.img1-hover:hover{
    transform: translateY(0);
}
.img2-hover{
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}
.img2-hover:hover{
    transform: translateY(10px);
}
.img3-hover{
    transform: translateY(20px);
    transition: all .4s ease-in-out;
}
.img3-hover:hover{
    transform: translateY(0);
}
.img4-hover{
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}
.img4-hover:hover{
    transform: translateY(10px);
}
.featured-Image{
    margin-top: 100%;
    
    
}