img{
    width: 100%;
    height: auto;
}
.img1-container{
    
   
}
.img1-text{
    
    
   
    margin-top: 10%;
    margin-left: 5%;
    
}
.img-h3{
    font-size: 36px;
    margin-top: 18px;
    margin-left: 15px;
}
.img-h1{
   
}
.img-p{
    font-size: 30px;
}
.img-link{
    font-size: 27px;
    color: #1561f0;
    text-decoration: none;
    transition: all .3s ease;
}
.img-link:hover{
    color: #e9322e;
}
.img2-container{
  
}
.img2-text{
    
    
   
    color: white;
   
}
.img3-container{
   
}
.img3-text{
   
   
    margin-left: 15%;
    width: 80%;
    color: white;
}
.img4-container{
    
}
.img4-text{
   
    width: 60%;
    margin-top: 10%;
    margin-left: 5%;
}
/* Hover effect */
.img1-hover{
    transform: translateY(20px);
    transition: all .4s ease-in-out;
}
.img1-hover:hover{
    transform: translateY(0);
}
.img2-hover{
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}
.img2-hover:hover{
    transform: translateY(10px);
}
.img3-hover{
    transform: translateY(20px);
    transition: all .4s ease-in-out;
}
.img3-hover:hover{
    transform: translateY(0);
}
.img4-hover{
    transform: translateY(40px);
    transition: all .4s ease-in-out;
}
.img4-hover:hover{
    transform: translateY(10px);
}
.featured-Image{
    
    margin-top: 38vh;
     margin-left: 20px;
    color: white;
    
    
}
.img01-text{
    background-image: url(../../../Resorce/Webcover3.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vh;
    padding: 10px;
}
.img02-text{
    background-image: url(../../../Resorce/z.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vh;
    padding: 10px;
}
.img03-text{
    background-image: url(../../../Resorce/port4.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vh;
    padding: 10px;
}
.img04-text{
    background-image: url(../../../Resorce/PainkillerRevised.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 49vh;
    padding: 10px;
}
.mainrow1{
    height: 327px;
    
}
.sr{
    margin-bottom: 1rem!important;
}