.clientBuilder-container{
    background-color: #141414;
    color: white;
}
.builder-details-title{
    font-size: 32px;
    font-weight: bold;
    padding: 1.5% 0 1.5% 3%;
    border-bottom: 5px solid rgb(48, 48, 48);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
}
.details-container{
    width: 85%;
    margin: 0 auto;
}
.imfomation-line{
    border-bottom: 2px solid rgb(48, 48, 48);
    padding: 1%;
}
.builder-input{
    width: 100%;
    height: 90%;
    border-radius: 3px;
}
.builder-about{
    width: 70%;
    margin: 0 auto;
}
.builder-banner-img{
    height: 70vh;
}
.builder-btn{
    width: 10%;
    background-color: #1561f0;
    transition: all .4s ease;
    outline: none;
    border: none;
}
.builder-btn:hover{
    background-color: #9615db;
    letter-spacing: .6px;
}
.mainBanner{
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.959)), url(../../Resorce/5747535.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.mainBanner h1{
    padding-top: 10%;
    font-size: 400%;
}
.maincategoryOfbuild{
    background-color: black;
}
.buildDivision{
    text-align: center;
    width: 40%;
    border-bottom: 10px solid #a3102d;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.categoryDv{
    border-radius: 15px;
    text-align: center;
    border: 5px solid white;
    width: 250px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.categoryDv:hover{
    background-color: #a3102d;
    border-radius: 15px;
    text-align: center;
    border: 5px solid #a3102d;
   
}



.BuilderInput{
    background-color: black;
    height: 6000px;
    width: 100%;
    color: white;
    padding-top: 100px;
    

}

.first-h1{
    font-size: 300%;
    text-align: center;
}
.first-p{
    text-align: center;
}
.second-h1{
    padding-top: 100px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 10px solid #a3102d;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


.head{
    font-size: 20px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 35px;

}

.line{
    border-bottom: 1px solid white; 
}

.Selection{

    font-size: 17px;
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    width: 60%;
    float: right;
    margin-top: 20px;


}

.Selection:hover{

    background-color: #a3102d;
    border-color: #a3102d;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.textarea{
    
    
    
    background-color: black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
   
  
    margin-top: 20px;
}


