.clientBuilder-container{
    background-color: #141414;
    color: white;
}
.builder-details-title{
    font-size: 32px;
    font-weight: bold;
    padding: 1.5% 0 1.5% 3%;
    border-bottom: 5px solid rgb(48, 48, 48);
    width: 95%;
    margin: 0 auto;
}
.details-container{
    width: 85%;
    margin: 0 auto;
}
.imfomation-line{
    border-bottom: 2px solid rgb(48, 48, 48);
    padding: 1%;
}
.builder-input{
    width: 100%;
    height: 90%;
    border-radius: 3px;
}
.builder-about{
    width: 70%;
    margin: 0 auto;
}
.builder-banner-img{
    height: 70vh;
}