.stocks-container{
    background-color: #141414;
    height: 100%;
}
li{
    list-style: none;
}
.guiter-text{
    background-color: rgb(70, 70, 70);
}
.filter-container{
    box-sizing: border-box;
    padding-left: 4%;
}
.filter-title{
    font-size: 22px;
}
.filter-items-container{
    margin-bottom: 5%;
}
.card-container{
    padding: 3%;
    border-radius: 15px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    background-image: linear-gradient(to top, #2c2c2c, #2b2b2b, #292929, #282828, #272727);background-color: ;
}
.card-img{
    width: 37%;
    display: block;
    margin: 0 auto;
    height: 40vh;
}